services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go_app
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASS: password
      DB_NAME: dbname

  db:
    image: postgres:16
    container_name: go_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: go_adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  pgdata:
